<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Java Annotation을 이용한 Transaction 정의 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Annotation 기반의 설정을 지원하기 위함 (@Autowired ...) -->
	<context:annotation-config />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="org.gjt.mm.mysql.Driver"
		p:url="jdbc:mysql://192.168.1.46:3306/dimdim"
		p:username="dimdim"
		p:password="dimdim"
		p:validationQuery="select 1"
		p:testWhileIdle="true"
		p:timeBetweenEvictionRunsMillis="60000"/>

	<!-- Hibernate 설정 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="classpath:/hibernate.cfg.xml"
		p:packagesToScan="hibernate.semina"/>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	<!-- JdbcTemplate 설정 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource"/>

	<!-- Service bean 설정
	<bean id="functionService" class="hibernate.semina.service.FunctionServiceImpl"/>

	<bean id="menuService" class="hibernate.semina.service.MenuServiceImpl"/>

	<bean id="roleService" class="hibernate.semina.service.RoleServiceImpl"/>

	<bean id="userService" class="hibernate.semina.service.UserServiceImpl"/>

	<bean id="userGroupService" class="hibernate.semina.service.UserGroupServiceImpl"/>
	-->
	<!-- DAO bean 설정
	<bean id="functionDao" class="hibernate.semina.dao.FunctionDaoImpl"
		p:sessionFactory-ref="sessionFactory"/>

	<bean id="menuDao" class="hibernate.semina.dao.MenuDaoImpl"
		p:sessionFactory-ref="sessionFactory"/>

	<bean id="roleDao" class="hibernate.semina.dao.RoleDaoImpl"
		p:sessionFactory-ref="sessionFactory"/>

	<bean id="userDao" class="hibernate.semina.dao.UserDaoImpl"
		p:sessionFactory-ref="sessionFactory"/>

	<bean id="userGroupDao" class="hibernate.semina.dao.UserGroupDaoImpl"
		p:sessionFactory-ref="sessionFactory"/>
	 -->
</beans>
