body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

fieldset {
	border: 1px solid #781351;
}

legend {
	color: #fff;
	background: #ffa20c;
	border: 1px solid #781351;
	padding: 2px 6px
}

label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

input {
	color: #781351;
	background: #fee3ad;
	border: 1px solid #781351
}

.submit input {
	color: #000;
	background: #ffa20f;
	border: 2px outset #d7b9c9
}

div.container {
	width: 700px;
}

div.searchBox {
	background-color: #c7d5fa;
	text-align: center;
}

table.grid {
	margin: 5px 0pt;
	width: 100%;
}

label {
	width: 100px;
}